<h4>
  <span>
    <%= link_to 'Back', academic_years_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
  </span>
  Editing Academic Year
</h4>

<%= render 'form', academic_year: @academic_year %>

